.banner-image {
  width: 100%;
  margin-top: 2rem;
  border-radius: 8px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.loaded {
    opacity: 1;
  }
}

.banner-image-inner {
  width: 100%;
  aspect-ratio: 4;
  min-height: 180px;
  max-height: 220px;
  background-size: cover;
  background-position: center;

  @media (max-width: 768px) {
    aspect-ratio: unset;
    min-height: unset;
    max-height: unset;
    height: 140px;
  }
}
